$("#user_bl_matches").dialog("open");
$("#user_bl_matches ul").empty();
$("#user_bl_matches ul").append(buildUserMatchesView());


function buildUserMatchesView() {
  var $html = "";
  <% if @user_matches.size > 0 %>
    <% @user_matches.each do |user| %>
		$html += "<span>";
		$html += "<img src='<%= user.user_profile.image_path %>'/>";
		$html += "<a href='/user_bucket_lists/send_invite?bl_name=test' data-remote='true'>Invite</a>";
		$html += "</span>";
	<% end %>
  <% else %>
    $html = "<span> Sorry, we couldn't find any matches at this time :( </span>";
  <% end %>
  return $html;
}